.shimmer-container {
    display: flex;
    flex-wrap: wrap;

}

.shimmer-card {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
}

.scard-title {
    height: 30px;
    width: 80%;
    margin: 10px 0px;
    padding: 0px;
}

.scard-body {
    height: 60px;
    margin-top: 0px;
    padding: 0px;
}

.cuisine {
    height: 30px;
    margin: 5px 2px;
    padding: 0px;
}

.rating {
    height: 20px;
    width: 45%;
    margin: 5px 2px;
}

.scard-footer {
    display: flex;
    justify-content: space-between;
}

.scard-footer>div {
    width: 60px;
    height: 20px;
    background: linear-gradient(to right, #ddd 8%, #f0f0f0 18%, #ddd 33%);
    animation: shimmer 10s infinite linear;
}


.sres-img {
    width: 200px;
    height: 150px;
}

.search {
    padding: 10px;
}

.filter-btn {
    margin: 10px;
}

.shimmer-anime{
    background: linear-gradient(to right, #ddd 8%, #f0f0f0 18%, #ddd 33%);
    animation: shimmer 10s infinite linear;
}

/* Animation for shimmer effect */
@keyframes shimmer {
0% {
    background-position: -1000px 0;
}
100% {
    background-position: 1000px 0;
}
}