.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;

}

.restaurant-card {
    width: 200px;
    /* height: 300px; */
    padding: 10px;
    margin: 5px;
}

.login {
    margin-top: 10px;
    height: 40px;
    background-color: lightblue;
    border-radius: 4px;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px;
    padding: 0px;
}

.card-body {
    font-size: 15px;
    margin-top: 0px;
    padding: 0px;
}

.card-body>p {
    margin: 10px 0px;
    padding: 0px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
}

.restaurant-card:hover {
    cursor: pointer;
    border: 1px solid black
}



.res-img {
    width: 200px;
    height: 160px;
}

.search {
    padding: 10px;
}

.filter {
    display: flex;
    justify-content: start;
}

.count {
    margin-top: 10px;
}

.search-box {
    margin-right: 5px;
}

.filter-btn {
    margin: 10px;
}